<a href='/bookmarks'>View Bookmarks</a>
<br>
<form action = '/bookmarks' method = 'post'>
<label for="bookmark">
  BOOKMARK LINK: 
  <input type="text" name = 'url'>
</label>
<label for="title">
  TITLE: 
  <input type="text" name = 'title'>
</label>
<br>
<input type="submit" value = "Add Bookmark">
</form>